<app-navbar></app-navbar>
<div class="title-button-container">
  <div>
    <h2 class="title">Search Property Owners</h2>
    <div class="form">
      <form #searchForm="ngForm" class="search-form">
        <div class="search-container">
          <div class="search-input">
            <input
              type="text"
              [(ngModel)]="vatSearchInput"
              name="vatSearchQuery"
              placeholder="VAT must be 9 numbers"
              class="form-control"
            />
          </div>
          <span>or</span>
          <div class="search-input">
            <input
              type="text"
              [(ngModel)]="emailSearchInput"
              name="emailSearchQuery"
              placeholder="example@email.com"
              class="form-control"
            />
          </div>
          <div class="search-buttons">
            <button (click)="onServerSearch()" class="btn btn-primary">
              Search
            </button>
            <button (click)="resetSearchResult()" class="btn btn-secondary">
              Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>VAT</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let propertyOwner of propertyOwners">
        <tr>
          <td>{{ propertyOwner.vat }}</td>
          <td>{{ propertyOwner.name }}</td>
          <td>{{ propertyOwner.surname }}</td>
          <td>{{ propertyOwner.address }}</td>
          <td>{{ propertyOwner.email }}</td>
          <td>{{ propertyOwner.phoneNumber }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <p
    *ngIf="searchPerformed && (!propertyOwners || propertyOwners.length === 0)"
  >
    No property owners found.
  </p>
</div>
