.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-container {
  background-color: #ffffff;
  padding: 20px 0;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 350px;
}

.login-container h1 {
  margin-bottom: 20px;
  color: #333;
}

.login-details {
  margin: 25px 0;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container form div {
  margin-top: 10px;
  text-align: left;
}

.login-container label {
  display: block;
  margin: 5px 0;
  color: #555;
  font-size: 14px;
}

.login-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.login-container button {
  margin: 25px 0 5px 0;
  padding: 10px 25px;
  background-color: #07910e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #32e432;
}

.error-message {
  margin-top: 20px;
  color: red;
}
.sign-up-prompt {
  margin-top: 20px;
  color: rgb(15, 15, 15);
}
