<main class="application">
	<!-- this is our nav -->
	<div class="nav">
		<h1>Technico</h1>

		<div *ngIf="isTokenPresent">
			<!-- <div> -->
			<a routerLink="/" class="nav-link">Home</a>
			<a routerLink="/property" class="nav-link">Property</a>
			<!-- <a routerLink="/property-owner-details" class="nav-link">Property owner details</a> -->
			<a routerLink="/property-owner-homepage" class="nav-link">Property owner
				homepage</a>
			<a routerLink="/property-owner-and-properties" class="nav-link">Property
				owner and properties</a>
			<a routerLink="/property-repair" class="nav-link">Property repair</a>
			<a routerLink="/repairs" class="nav-link">Repairs</a>

			<button (click)="logout()">Logout</button>
		</div>
	</div>