<app-navbar></app-navbar>

<h2>Ongoing Repairs - Today</h2>

<div class="container" *ngIf="propertyRepair && propertyRepair.length > 0">
  <div class="group" *ngFor="let repair of propertyRepair">
    <ng-container
      class="group"
      *ngIf="repair.status === 'Pending' || repair.status === 'InProgress'"
    >
      <p><span>Owner Vat: </span>{{ repair.vat }}</p>
      <p><span>Id:</span> {{ repair.id }}</p>
      <p>
        <span>Repair Date:</span>
        {{ userFriendlyDate(repair.repairDate.toString()) }}
      </p>
      <p><span>Repair Type:</span> {{ repair.typeOfRepair }}</p>
      <p><span>Repair Description:</span> {{ repair.description }}</p>
      <p><span>Repair Status:</span> {{ repair.status }}</p>
      <p *ngIf="!propertyRepair || propertyRepair.length === 0">
        No repairs for today.
      </p>
    </ng-container>
  </div>
</div>
<app-footer></app-footer>
